.main-container {
    border: 3px solid rgb(214, 204, 235);
    width: 500px;
    border-radius: 25px;
    height: 500px;
    display: flex;
    margin: 0px auto ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: darkgrey;

}

