<div class="main-container">

    <form class="formData" [formGroup]="signin" (ngSubmit)="OnSubmit(signin.value)">
        <div>
            <h1>Forget Your Password</h1>
            <hr>
        </div>

        <div class=" form-group mb-3">
            <label for="class" class="class">User Email ID</label>
            <input style="width: 350px;" type="text" class="form-control" formControlName="email">
        </div>

        <div class=" form-group mb-3">
            <label for="section" class="section">Mobile-No</label>
            <input type="mobile" class="form-control" formControlName="mobileNo">
        </div>

        <div class=" form-group mb-3">
            <label for="DOB" class="NAME">DATE OF BIRTH</label>
            <input type="date" placeholder="yyyy/mm/dd" class="form-control" formControlName="DOB">
        </div>
        <hr>
        <div align="right" class=" form-group mb-5">
            <button (click)="openDialog(signin.value)" type="submit" class="btn btn-primary">Forget Password</button>

        </div>

        <div class="form-group mb-6">
            <button routerLink="/auth/login">Login ?</button>
        </div>

    </form>

</div>