<!-- Navigation Bar -->

<app-header >
            
</app-header>

<div class="navbar">
    
    <a style="border-radius: 50px;" href="#">INTERNET BANKING</a>
    <a style="border-radius: 50px;" href="#">SERVICE OFFERED</a>
    <a style="border-radius: 50px;" href="#">ONLONE BANKING FEATURES</a>
    <a style="border-radius: 50px;" href="#">MORE</a>
</div>
<!-- Note -->
<!-- <div style="background:yellow;padding:5px">
    <h4 style="text-align:center">Resize the browser window to see the responsive effect.</h4>
  </div> -->

<!-- Header -->
 

<div class="header">
   
</div>



<!-- The flexible grid (content) -->
<div class="row">
    <div class="side">
        <div class="datails" style="height:350px;">
            <h3><b>Internet Banking</b> </h3>

            <p> Himalaya Bank Internet Banking is simple, convenient, 100% secure, and lets you carry out a wide range
                of
                banking transactions and access numerous Net Banking features in just a few clicks. Now, say goodbye to
                long queues and unwanted delays. With Himalaya Bank, Net Banking instantly unlocks a better lifestyle
                anytime and anywhere
            <P>
            <div>
                <button class="button-group"><a href="#"></a>login now</button>
                &nbsp;&nbsp;&nbsp;
                <button class="button-group"> <a href="#"></a>More services</button>
            </div>
        </div>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        <h3>More Text</h3>

        <p>Lorem ipsum dolor sit ame.</p>
        <div class="slidebar-1" style="height:60px;">Image</div><br>
        <div class="fakeimg" style="height:60px;">Image</div><br>
        <div class="fakeimg" style="height:60px;">Image</div>
    </div>

    
    <div class="main" style="border: 3px solid gray;">
        <div class="slidebar">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../assets/images/banking-technology-conceptisometric-illustration-bank-600w-2060538899.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/slider2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/images/space.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
       
        <br>
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;border: 3px solid gray;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco.</p>
    </div>
</div>
<div class="net-banking ">
    <div class="left-block">
        <h4 class="section-title text-left"><strong>WORLD CLASS INTERNET BANKING IN JUST 4 STEPS</strong>
        </h4>
        <div class="experience-steps">
            <div class="row">
                <div class="step">
                    <div class="num">1</div>
                    <div class="text">Call Customer Care <br> and authenticate yourself</div>
                </div>
                <div class="step">
                    <div class="num">2</div>
                    <div class="text">Choose 'Self Banking' or click the ‘I want my User ID’ button</div>
                </div>
            </div>
            <div class="row">
                <div class="step">
                    <div class="num">3</div>
                    <div class="text">Generate your <br>password instantly, online</div>
                </div>
                <div class="step">
                    <div class="num">4</div>
                    <div class="text">Log in with your user ID and password to access the account</div>
                </div>
            </div>
        </div>
        <div class="button-group">
            <a href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_cms_IB_internetbanking_login_btn&amp;_gl=1*18v3v5t*_ga*NDQ5MDk5NTkyLjE2NTE2NTQ0NTY.*_ga_SKB78GHTFV*MTY1MjE1OTY1My44NS4xLjE2NTIxNjYzMDAuNTc."
                class="ic-btn white">login now </a>
            <a href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;__EVENT_ID__=LOAD&amp;__CALL_MODE__=10&amp;LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_cms_IB_internetbanking_getid_btn"
                class="ic-more"><u>Get User Id </u></a> <a
                href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;__EVENT_ID__=LOAD&amp;__CALL_MODE__=91&amp;LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_cms_IB_internetbanking_generate_password_btn"
                class="ic-more"><u>Generate Password </u></a>
            <!--  <a class="ic-more" href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&__START_TRAN_FLAG__=Y&__EVENT_ID__=LOAD&__CALL_MODE__=10&LOGIN_FLAG=1&BANK_ID=ICI&ITM=nli_cms_IB_internetbanking_new_in_ib_btn">New to internet banking?</a>-->
        </div>
    </div>
</div>

<app-footer>
    
</app-footer>
