* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #a9ebde;
    color: white;
  }
  
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    background-color: #333;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: rgb(226, 200, 200);
    padding: 10px;
   
  }
  
  /* Fake image, just for this example */
  .datails {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }
 

  .button-group {
    background: #f37e20;
    color: #fff;
    border: 1px solid #f37e20;
    border-radius: 50px;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 12.5px 34px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    transition: opacity .2s;
    cursor: pointer;
    width: fit-content;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }

  .net-banking {
    padding: 150px;
    text-align: center;
    background:rgb(82, 189, 231);
    color: white;
    background-image: url('../../assets/images/banner_d.png');
    background-repeat: no-repeat;
  }

  .slidebar{
    height:400px;
    width: 706px;
    border-radius: 70px;
    //  background-image: url(../../assets/images/businessman-holding-word-banking-hand-260nw-1150180799.webp) ;
    //  background-repeat: repeat-x;
   position: relative;
    // display: inline-block;
  background-position: center;
    margin: 3px;
    padding: 3px;
    overflow: hidden;
    transition: 2s;;
  
 
    
   

  }
  