<!-- <div class="card-group" >
    <div class="card" >

        <img src="../../assets/images/space.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
            <h5>Name - {{data[0].name}}</h5>
            <h5>Email - {{data[0].email}}</h5>
            <h5>studentImage {{data[0].studentImage}}</h5>
            <h5>Salary - {{data[0].totalAmount | currency:"INR" }}</h5>
        </div>
    </div> -->
  
    <!-- <div class="card" >

        <img src="../../assets/images/slider2.jpg"  class="card-img-top" alt="...">
        <div class="card-body">
            <h5>Name - {{data[0].name}}</h5>
            <h5>Email - {{data[0].email}}</h5>
            <h5>studentImage {{data[0].studentImage}}</h5>
            <h5>Salary - {{data[0].totalAmount | currency:"INR" }}</h5>
        </div>
    </div> -->
    <!-- <div class="card" >

        <img src="../../assets/images/banner_d.png"  class="card-img-top" alt="...">
        <div class="card-body">
            <h5>Name - {{data[0].name}}</h5>
            <h5>Email - {{data[0].email}}</h5>
            <h5>studentImage {{data[0].studentImage}}</h5>
            <h5>Salary - {{data[0].totalAmount | currency:"INR" }}</h5>
        </div>
    </div> -->
    <!-- <div class="card" style="width: 200px;">
      <img [src]="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5>Name - {{name}}</h5>
        <h5>Age - {{email}}</h5>
        <h5>Status - {{account}}</h5>
        <h5>Salary - {{_id | currency:"INR" }}</h5>
      </div>
    </div>
    <div class="card" style="width: 200px;">
      <img [src]="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5>Name - {{name}}</h5>
        <h5>Age - {{email}}</h5>
        <h5>Status - {{account}}</h5>
        <h5>Salary - {{_id | currency:"INR" }}</h5>
      </div> -->
<!-- </div> -->
<!-- </div> -->

<!-- <div class="card" style="width: 300px;" appHighlight>
    <ng-content></ng-content>
      <div class="card-image">
        <img [src]="img">
        <span class="card-title">{{name | uppercase }}</span>
      </div>
      <div class="card-content">
          <h5>Name - {{name}}</h5>
          <h5>Age - {{age}}</h5>
          <h5>Status - {{status}}</h5>
          <h5>Salary - {{salary | currency:"INR" }}</h5>
      </div>
    </div> -->


    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Spends</mat-card-title>
        <mat-card-subtitle>Credit card</mat-card-subtitle>
        <!-- <img mat-card-sm-image src="#" > -->
      </mat-card-title-group>
      <!-- <mat-card-content>
        {{data[0].totalAmount | currency:'INR' }}
      </mat-card-content> -->
    </mat-card>
  
  