.about{
    border: 4px ;
    width: 120%;
    height: 400px;
    // background-image:url( "../../assets/images/space.jpg");
    background-size:cover;
    object-fit: contain;
    display: grid;
    place-content: center;
    border-radius: 91px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow: hidden;

}
