<hr>


<div class="footer">


  <ul>
    <h3><b>EXPLORE</b></h3>
    <li>Investor Relations</li>
    <li>Explore Tab</li>
    <li>Safe Banking</li>
    <li>RBI Kahta Hai</li>
    <li>Money Trasfer to india</li>
    <li>Internet Banking</li>
    <li>Mobile Banking</li>
  </ul>

  <ul>
    <h3><b>POPULAR PRODUCT</b></h3>
    <li>Saving Accounts</li>
    <li>Current Accounts</li>
    <li>Credit Accounts</li>
    <li>Credit Cards</li>
    <li>Home Loan</li>
    <li>Persional Loan</li>
    <li>Car Loan</li>
    <li>Gold loan</li>
    <li> Fixed Deposit</li>
  </ul>

  <ul>
    <h3><b>CALCULATOR</b></h3>
    <li>Personal Loan EMI Calculator</li>
    <li>Car Loan EMI Calculator</li>
    <li>Home Loan EMI Calculator</li>
    <li>Fixed Deposit EMI Calculator</li>
    <li>More Calculators</li>

  </ul>

  <ul>
    <h3><b>OTHERS</b></h3>
    <li>Customer Care</li>
    <li>List of Unclained Account</li>
    <li>Form center</li>
    <li>Online Assitance</li>
    <li>Abous Us</li>
    <li>News Room</li>
  </ul>


</div>
<div class="footer-icon">

  <i class="bi bi-facebook"></i>
  <i class="bi bi-whatsapp"></i>
  <i class="bi bi-twitter"></i>
  <i class="bi bi-instagram"></i>

</div>

<div class="app">
  <h3><b>Download Himalaya Pay</b></h3>

  <div class="app-1">
    <a href="#"><img alt="App Store" src="https://www.icicibank.com/assets/images/icons/app_store.png"></a>
    <a href="#"><img alt="Google Play" src="https://www.icicibank.com/assets/images/icons/google_play.png"></a>
  </div>
</div>