



<mat-sidenav-container class="sidenav-manu">
    <mat-sidenav class="A1" mode="side" #sidenav opened position="start">
      <mat-list class="sidebar-list">
        <mat-list-item>
          <mat-icon>home</mat-icon>
          <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
  
  
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>money</mat-icon>
          <a mat-button [routerLink]="['transferMoney']" routerLinkActive="router-link-active">
            Loan Application
          </a>
        </mat-list-item>


        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>account_balance</mat-icon>
          <a mat-button [routerLink]="['newApplication']" routerLinkActive="router-link-active">
          New Customer Application
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>account_balance</mat-icon>
          <a mat-button [routerLink]="['allCustomerData']" routerLinkActive="router-link-active">
            All Customer
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>payment</mat-icon>
          All Transaction
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>payment</mat-icon>
          Bank Employee
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>payment</mat-icon>
          Head Branch
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>settings</mat-icon>
          <a mat-button [routerLink]="['settings']" routerLinkActive="router-link-active"> Setting</a>
        </mat-list-item>
        <mat-divider></mat-divider>
  
  
        <div class="footer-icon">
          <i class="bi bi-facebook"></i>
          <i class="bi bi-whatsapp"></i>
          <i class="bi bi-twitter"></i>
          <i class="bi bi-instagram"></i>
  
        </div>
  
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content >
      <mat-toolbar class="tool">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <a mat-button [routerLink]="['/manager']" routerLinkActive="router-link-active"><strong>Dashboard</strong></a>
  
        
        <span class="toolbar-spacer"></span>
        {{managerData[0].name}}
  
  
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <img src="../../../assets/images/unnamed.webp" alt="hugenerd" width="30" height="30" class="rounded-circle">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['two']" routerLinkActive="router-link-active">
  
  
            <mat-icon>person</mat-icon>
            <span>
  
              Account
            </span>
          </button>
          <button mat-menu-item [routerLink]="['accountTransaction']" routerLinkActive="router-link-active">
            <mat-icon>history</mat-icon>
            <span>History</span>
          </button>
          <button mat-menu-item>
            <mat-icon>lock</mat-icon>
            <span>Lock</span>
          </button>
          <button mat-menu-item [routerLink]="['settings']" routerLinkActive="router-link-active">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
  
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon  >logout</mat-icon>
  
            <span>logout</span>
          </button>
        </mat-menu>
  
      </mat-toolbar>
  
  
  
  <div>
    <router-outlet></router-outlet>
  </div>
  
  
      
  
  
    </mat-sidenav-content>
  
  </mat-sidenav-container>
