
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    height: inherit;
    margin: 15px;

  }
  th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }