<!-- 


<mat-tab-group mat-align-tabs="space-around"  >
    <mat-tab label="CARD">
        <div class="main-container">
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Personal Loan</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Home Loan</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>  
                <mat-card class="example-card">
                <mat-card-title>Car Loan</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-content>
                  <p>This card indeterminates progress bar.</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                </mat-card-actions>
              </mat-card></div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="LOAN">
        <div class="main-container">
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Personal Loan</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Home Loan</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>  
                <mat-card class="example-card">
                <mat-card-title>Car Loan</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-content>
                  <p>This card indeterminates progress bar.</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                </mat-card-actions>
              </mat-card></div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="INVEST">
        <div class="main-container">
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Personal Loan</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Home Loan</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>  
                <mat-card class="example-card">
                <mat-card-title>Car Loan</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-content>
                  <p>This card indeterminates progress bar.</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                </mat-card-actions>
              </mat-card></div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="INSURENCE">
        <div class="main-container">
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Personal Loan</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Home Loan</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>  
                <mat-card class="example-card">
                <mat-card-title>Car Loan</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                <mat-card-content>
                  <p>This card indeterminates progress bar.</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                </mat-card-actions>
              </mat-card></div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div>
                <mat-card class="example-card">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-content>
                      <p>This card indeterminates progress bar.</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
    </mat-tab>
  </mat-tab-group> -->


<!-- 
<div class="main-container">
 
  <div id="loans">

   
</div> -->



<mat-grid-list cols="8" rowHeight="10px">
  <mat-grid-tile colspan="2" rowspan="30">
    <div>
      <!-- <mat-card class="user-info-card"> -->
        <div class="setting-manu">
          <h1>Loans</h1>
          <strong>
            <hr>
          </strong>
          <mat-selection-list #setting [multiple]="false" >
            <mat-list-option (click)="ClickOnLoan()">
              Personal Loan
            </mat-list-option>
            <mat-list-option (click)="AgriLoan()">
               Agri & Rular Finance
            </mat-list-option>
            <mat-list-option (click)="BussinessLoan()">
              Commercial Bussiness Loans
            </mat-list-option>
          </mat-selection-list>
        </div>
        
      <!-- </mat-card> -->
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="6" rowspan="50">
    <div class="main-container" *ngIf="personalloan">
      
      <div>
        <div class="mat-card-div">
          <mat-card>
            <mat-card-title style=" text-shadow: 2px 2px #e66969;">Personal Loan</mat-card-title>
            <mat-card-subtitle>
              <p>Personal Loan</p>
              <p> Personal Loan calculator</p>
              <p>Personal loan on credit card</p>
              <p>Flexicash (Overdroft agains salary</p>
              <p>flexible Time duration</p>
            </mat-card-subtitle>
            <mat-card-actions *ngIf="loanApply">
              <button mat-button [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Apply Now</button>
              
            </mat-card-actions>
            <mat-card-actions *ngIf="viewDetails">
              <button mat-button [routerLink]="['personalLoan']" routerLinkActive="router-link-active" >View Details</button>
              
            </mat-card-actions>
          </mat-card>
        </div>
        <div>
          <mat-card>
            <mat-card-title>Home Loan</mat-card-title>
            <mat-card-subtitle>
              <p> New Home laon</p>
              <p>home loan- Existing Customers</p>
              <p>Hone Loan calculator</p>
              <p>Loan Against Propery</p>
              <p>Home loan balance transfer</p>
            </mat-card-subtitle>
            <mat-card-actions>
              <button mat-button>View details</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
     
   
       <div>
        <div>
          <mat-card>
            <mat-card-title>Car/Two Weeler Loan</mat-card-title>
            <mat-card-subtitle>
              <p>New Car laon</p>
              <p>Two-weeler Laon</p>
              <p>Pre Ownerd Used Car laon</p>
              <p>Loan Against car</p>
              <p>Dream cars Search</p>
            </mat-card-subtitle>
            <mat-card-actions>
              <button mat-button>View details</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div>
          <mat-card>
            <mat-card-title>Others Loan</mat-card-title>
            <mat-card-subtitle>
              <p>Gold loan</p>
              <p>PayLater</p>
              <p>Education Loan</p>
              <p>Prdhan Mantri Mudra Yojana</p>
              <p>Consumer EMI</p>
            </mat-card-subtitle>
            <mat-card-actions>
              <button mat-button [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >View details</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      </div>
    <div class="main-container" *ngIf="agriLoan">
      
      <div>
        <div class="mat-card-div">
          <mat-card>
            <mat-card-title style=" text-shadow: 2px 2px #e66969;">Micro Finance</mat-card-title>
            <mat-card-subtitle>
              <p>Personal Loan</p>
              <p> Personal Loan calculator</p>
              <p>Personal loan on credit card</p>
              <p>Flexicash (Overdroft agains salary</p>
              <p>flexible Time duration</p>
            </mat-card-subtitle>
            <mat-card-actions>
              <button mat-button>View details</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div>
          <mat-card>
            <mat-card-title>Rular Saving Account</mat-card-title>
            <mat-card-subtitle>
              <p> New Home laon</p>
              <p>home loan- Existing Customers</p>
              <p>Hone Loan calculator</p>
              <p>Loan Against Propery</p>
              <p>Home loan balance transfer</p>
            </mat-card-subtitle>
            <mat-card-actions>
              <button mat-button [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >Tractor Loan</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
     
   
       <div>
        <div>
          <mat-card>
            <mat-card-title>Agri Traders And Processors</mat-card-title>
            <mat-card-subtitle>
              <p>New Car laon</p>
              <p>Two-weeler Laon</p>
              <p>Pre Ownerd Used Car laon</p>
              <p>Loan Against car</p>
              <p>Dream cars Search</p>
            </mat-card-subtitle>
            <mat-card-actions>
              <button mat-button [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >View details</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div>
          <mat-card>
            <mat-card-title>Others Loan</mat-card-title>
            <mat-card-subtitle>
              <p>Gold loan</p>
              <p>PayLater</p>
              <p>Education Loan</p>
              <p>Prdhan Mantri Mudra Yojana</p>
              <p>Consumer EMI</p>
            </mat-card-subtitle>
            <mat-card-actions>
              <button mat-button [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >View details</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      </div>
    <div class="main-container" *ngIf="bussinessLoan">
      
      <div>
        <div class="mat-card-div">
          <mat-card>
            <mat-card-title style=" text-shadow: 2px 2px #e66969;">Comercial Vehicle loan</mat-card-title>
            <mat-card-subtitle>
              <p>Personal Loan</p>
              <p> Personal Loan calculator</p>
              <p>Personal loan on credit card</p>
              <p>Flexicash (Overdroft agains salary</p>
              <p>flexible Time duration</p>
            </mat-card-subtitle>
            <mat-card-actions>
              <button mat-button [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >View details</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div>
          <mat-card>
            <mat-card-title>Construction Equipment Loan</mat-card-title>
            <mat-card-subtitle>
              <p> New Home laon</p>
              <p>home loan- Existing Customers</p>
              <p>Hone Loan calculator</p>
              <p>Loan Against Propery</p>
              <p>Home loan balance transfer</p>
            </mat-card-subtitle>
            <mat-card-actions>
              <button mat-button [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >View details</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
     
   
       <div>
        <div>
          <mat-card>
            <mat-card-title>Bussiness Loan</mat-card-title>
            <mat-card-subtitle>
              <p>New Car laon</p>
              <p>Two-weeler Laon</p>
              <p>Pre Ownerd Used Car laon</p>
              <p>Loan Against car</p>
              <p>Dream cars Search</p>
            </mat-card-subtitle>
            <mat-card-actions>
              <button mat-button [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >View details</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div>
          <mat-card>
            <mat-card-title>StartUp Loan</mat-card-title>
            <mat-card-subtitle>
              <p>Gold loan</p>
              <p>PayLater</p>
              <p>Education Loan</p>
              <p>Prdhan Mantri Mudra Yojana</p>
              <p>Consumer EMI</p>
            </mat-card-subtitle>
            <mat-card-actions>
              <button mat-button [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >View details</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      </div>
  </mat-grid-tile>

</mat-grid-list>


<router-outlet></router-outlet>