<section>
    <div class="container-1">
        <div class="row">
            <div class="col-1">

                <!-- <app-user-page-one></app-user-page-one> -->
                <!-- <app-user-page-two></app-user-page-two> -->
            </div>
            <div class="col">

                <div class="topnav ">
                    <a class="text-dark align-self-center" href="#home">Home</a>

                    <a href="#contact"><i class=""></i>Account</a>

                    <div class="dropdown">
                        <a href="#"
                            class=" d-flex align-self-center text-white text-decoration-none dropdown-toggle "
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="../../../assets/images/unnamed.webp" alt="hugenerd" width="30" height="30"
                                class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1  ">loser</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow ">
                            <li><a class="dropdown-item  " href="#">New project...</a></li>
                            <li><a class="dropdown-item  " href="#">Settings</a></li>
                            <li><a class="dropdown-item  " href="#">

                                    Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item " href="#">Sign out</a></li>
                        </ul>


                    </div>


                    
                    <div class=" d-flex  justify-content-end  align-self-center">
                        <a href="#contact"><i class="fs-4 bi-person-fill "></i>Account</a>


                    </div>
                </div>
            </div>


        </div>

    </div>
</section>