.main-div-1{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 300px;
}
.main-div-1>div{
    background-color: bisque;
    margin: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    flex-grow: 3;
}

