<div class="main-container">
    <div class="container-a">
        <div>
            <h1>Personal Loan</h1>
        </div>
        <div>
            <div>
                <p>
                    Personal Loan is an unsecured loan that caters to all your financial needs such as travel, home
                    renovation, applying online courses, medical emergency or wedding. You can easily apply for an
                    HIMALAYA
                    BANK
                    With our Personal Loan EMI calculator, you can also check the Personal Loan EMI that you are
                    entitled to pay every month.

                    Also, with our instant Personal Loan online services, you can get access to the funds within 3
                    seconds


                </p>
            </div>
            <div id="button-div">
                <button class="button-group" (click)="apllyLoan()"> <a href="#"></a>Apply Now</button>

            </div>
        </div>
    </div>
    <div class="container-b">2</div>
</div>