<app-header></app-header>

<mat-grid-list cols="2" rowHeight="10em">
  <mat-grid-tile rowspan="3">
    <img src="../../assets/New folder/notification.png">
    <h1> Real time Notifications</h1>
    <h2>Your customer stay informed in real time with everything that’s happening on his account: payments,
      transfer, advice. Get visibility on your customers' flows to anticipate their needs.
    </h2>
    icon
    Cards that work all across the world.
    icon
    No ATM fees. No minimum balance. No overdrafts.
  </mat-grid-tile>

  <mat-grid-tile rowspan="3">
    <img src="../../assets/New folder/feature-item-1.png">
  </mat-grid-tile>


  <mat-grid-tile colspan="2">
    <div class="cardType">
      <div class="card1">
        <strong>Partners</strong>
      </div>
      <div style="flex-grow: 2;">
        <img src="../../assets/New folder/partner-1.png">
      </div>
      <div style="flex-grow: 2;">
        <img src="../../assets/New folder/partner-2.png">
      </div>
      <div style="flex-grow: 2;">
        <img src="../../assets/New folder/partner-3.png">
      </div>
      <div style="flex-grow: 2;">
        <img src="../../assets/New folder/partner-4.png">
      </div>
      <div style="flex-grow: 2;">
        <img src="../../assets/New folder/partner-5.png">
      </div>
    </div>
  </mat-grid-tile>


  <mat-grid-tile class="grid-title" colspan="2" rowspan="3">
    <!-- <div>
            <h2>Related Blogs</h2>
        </div> -->

    <div class="cardType1">

      <div style="flex-grow: 2;">
        <mat-card class="example-card">
          <img mat-card-image
            src="../../assets/New folder/how-to-check-your-credit-card-balance-and-due-amount-small.jpg"
            alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              How will you manage your Credit Card by logging in to ICICI Bank Internet Banking?
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div style="flex-grow: 2;">
        <mat-card class="example-card">

          <img mat-card-image src="../../assets/New folder/emi-facility-on-internet-banking.jpg"
            alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              3 Things to Know About RTGS Fund Transfer Facility
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

      </div>
      <div style="flex-grow: 2;">
        <mat-card class="example-card">

          <img mat-card-image src="../../assets/New folder/what-is-ifsc-small.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              What is the Indian Financial System Code and Why Is It so Important?
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

      </div>
      <div style="flex-grow: 2;">
        <mat-card class="example-card">

          <img mat-card-image
            src="../../assets/New folder/best-practices-for-enhancing-your-digital-wallet-security-small.jpg"
            alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Best Practices for Enhancing Your Digital Wallet Security
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

      </div>
    </div>
  </mat-grid-tile>

</mat-grid-list>

<app-footer></app-footer>