

// .sidebar {
//  margin: 0;
//  padding: 0;
//  margin-top: 0px;
//  width: 200px;
//  background-color: #f1f1f1;
//  position: fixed;
//  height: 100%;
//  overflow: auto;
// }

// .sidebar a {
//  display: block;
//  color: black;
//  padding: 16px;
//  text-decoration: none;
// }

// .sidebar a.active {
//  background-color: #04AA6D;
//  color: white;
// }

// .sidebar a:hover:not(.active) {
//  background-color: #555;
//  color: white;
// }

// div.content {
//  margin-left: 200px;
//  padding: 1px 16px;
//  height: 1000px;
// }

// @media screen and (max-width: 700px) {
//  .sidebar {
//    width: 100%;
//    height: auto;
//    position: relative;
//  }
//  .sidebar a {float: left;}
//  div.content {margin-left: 0;}
// }

// @media screen and (max-width: 400px) {
//  .sidebar a {
//    text-align: center;
//    float: none;
//  }
// }

// ////////////////////////////////////////////////////
// .account-container{

//     border:2px solid green;
//     height:100%;
// }
// mat-toolbar {
//     background: #004a9f;
//     color: white;
// }

// mat-sidenav {
//     margin: 16px;
//     width: 200px;
//     border-right: none;
//     background: #002b5c;
//     color: white;
//     border-radius: 10px;
//     padding: 16px;
//     text-align: center;
// }

// .content {
//     height: calc(100vh - 98px);
//     border-radius: 10px;
//     margin: 16px;
//     margin-left: 32px;

//     display: flex;
//     justify-content: center;
//     align-items: center;

//     font-size: 2rem;
//     color: lightgray;
// }

// mat-sidenav-container {
//     height: calc(100vh - 65px);
// }



.blog-list .blog-box{
    text-align: left;
}
.blog-list .blog-box h3 {
    margin: 5px 0;
    font-size: 22px;
    color: #000;
}
.blog-list .blog-box p{
    margin-bottom: 5px;
}
.blog-list .blog-box .readmore{
    color:blue;
}
.widget{text-align: left; margin-bottom: 20px;padding: 15px;
    border: 1px solid #f7f7f7;
    box-shadow: 0px 2px 2px 1px #f6f6f6;}
    .widget p{margin-bottom: 5px;}
    .widget a{text-decoration: none;}
    .widget .rb-box{
        border-bottom: 1px solid #f6f6f6;
    }
 .widget-title{
     text-align: left;
     width: 100%;
     margin: 15px auto;
     display: inline-block;
 }
 .detail-img img{width:100%;}

 .container-1{
    border: 2px ;
    height: 400px;
    width: 100%;
    
 }
 .container-1 .row .col{
    border: 3px solid gold;
    text-align: center;
    padding: 4px;
    height: 390px;
    width: 100%;
    margin:  8px 8px 8px 8px;
    
 }
.image{
    border-radius: 100px;
    border: 4px ;
    width: 150px;
    height: 150px;
    background-color: aqua;
    // background-image:url( "../../assets/images/space.jpg");
    background-size:cover;
    object-fit: contain;
    display: grid;
    place-content: center;
    border-radius: 91px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow: hidden;
}
.col-md-8{
    border: 2px solid green;
}

