
<app-header>

</app-header>



<div class="main-container">

    <div id="child-2-container">
        <div id="blogs">
            <span>
                <h2>******* BLOGS ********</h2>
            </span>
            <span>
                <h3>MANGE YOUR FIANCES BETTER</h3>
            </span>
        </div>
        <div id="blogs-container">
            <div>
                <mat-card class="user-info-card">
                    <div class="setting-manu">
                        <div id="button">
                            <!-- <button class="button-group" (click)="onSave(otp.value)">Save</button> -->
                            <!-- <button (click)="dialogRef.close()">Cancel</button> -->
                        </div>
                    </div>
                </mat-card>
            </div>

            <div>
                <mat-card class="user-info-card">
                    <div class="setting-manu">
                        <div id="button">
                            <!-- <button class="button-group" (click)="onSave(otp.value)">Save</button> -->
                            <!-- <button (click)="dialogRef.close()">Cancel</button> -->
                        </div>
                    </div>
                </mat-card>
            </div>
            <div>
                <mat-card class="user-info-card">
                    <div class="setting-manu">
                        <div id="button">
                            <!-- <button class="button-group" (click)="onSave(otp.value)">Save</button> -->
                            <!-- <button (click)="dialogRef.close()">Cancel</button> -->
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>

    <div id="child-1-container">
        <div id="child-1-A">
            <h1>Hello</h1>
        </div>
        <div id="child-1-B">
            <h1>Ajay Yadav</h1>
        </div>
    </div>

</div>




<app-footer>

</app-footer>